$color1: #2B2D42;
$color2: #8D99AE;
$color3: #EDF2F4;
$color4: #EF233C;
$color5: #D90429;
$color6: #cea425;
$color7: #1A1819;

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $color7;
  
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #logo {
    max-height: 53px;
    border-radius: 7px;
    //border-color: $color6 1px solid;
  }
  #logo-Jumbo {
    max-height: 40em;
    border-radius: 7px;
    float: center;
    margin-left: 14em;
    width: 25em
    //border-color: $color6 1px solid;
  }
  section {
    display: flex;
    justify-content: space-around;
  }
  #btn2 {
    bottom: 50px;
    background-color: $color6;
    border-color: $color6;
    outline: none !important;
    box-shadow: none;
    margin-right: 10px;
    color:white !important;
    height: 53px;
  }
  #btn2:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  form {
    position: relative;
    ul {
      position: absolute;
      top: 36px;
      width: 300px;
      background: white;
    }
    input {
      border-radius: 3px;
      height: 35px;

    }
    button {
        margin-left: 10px;
        height: 35px;
        align-content: center;
        background-color: $color6;
        color: white;
        border: $color6;
      }
  }
  #logo:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
